{% block sidebar %}
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu">
                        {#<li class="site-menu-category">General</li>#}
                        <li class="site-menu-item">
                            <a href="{{ path('jay_payroll_admin_home') }}" data-slug="{{ path('jay_payroll_admin_home') }}"">
                                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title">Dashboard</span>

                                <div class="site-menu-badge">
                                    <span class="badge badge-success">2</span>
                                </div>
                            </a>
                            {#<ul class="site-menu-sub">#}
                            {#<li class="site-menu-item">#}
                            {#<a class="animsition-link" href="../index.html" data-slug="dashboard-v1">#}
                            {#<i class="site-menu-icon " aria-hidden="true"></i>#}
                            {#<span class="site-menu-title">Dashboard v1</span>#}
                            {#</a>#}
                            {#</li>#}
                            {#<li class="site-menu-item">#}
                            {#<a class="animsition-link" href="../dashboard/v2.html" data-slug="dashboard-v2">#}
                            {#<i class="site-menu-icon " aria-hidden="true"></i>#}
                            {#<span class="site-menu-title">Dashboard v2</span>#}
                            {#</a>#}
                            {#</li>#}
                            {#</ul>#}
                        </li>
                        <li class="site-menu-item has-sub open">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                                <span class="site-menu-title">Users</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('jay_payroll_admin_user') }}" data-slug="dashboard-v1">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">View User</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('jay_payroll_admin_user_new') }}" data-slug="dashboard-v2">
                                        <i class="site-menu-icon" aria-hidden="true"></i>
                                        <span class="site-menu-title">New User</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <div class="site-menubar-section">
                            <h5>
                                Milestone
                                <span class="pull-right">30%</span>
                            </h5>

                            <div class="progress progress-xs">
                                <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
                            </div>
                            <h5>
                                Release
                                <span class="pull-right">60%</span>
                            </h5>

                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-warning" style="width: 60%;"
                                     role="progressbar"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="site-menubar-footer">
            {#<a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"#}
            {#data-original-title="Settings">#}
            {#<span class="icon wb-settings" aria-hidden="true"></span>#}
            {#</a>#}
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
                <span class="icon wb-eye-close" aria-hidden="true"></span>
            </a>
            <a href="{{ path('jay_payroll_admin_logout_path') }}" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
                <span class="icon wb-power" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}